# Általános beállítás – Git automatikusan kezeli a szöveges fájlokat
* text=auto

# Unix shell script
mvnw text eol=lf

# Windows batch script
*.cmd text eol=crlf

# Általános forrásfájlok – LF sorvégződés
*.java text eol=lf
*.xml text eol=lf
*.yml text eol=lf
*.properties text eol=lf
*.gradle text eol=lf